@import "./variables.scss";

.date-range-picker {
  font-family: $font-family;
  background-color: #fff;
  padding: 16px;
  border: 1px solid $borderColor;
  border-radius: $borderRadius;
  user-select: none;

  & > label {
    display: block;
    margin-bottom: 1em;
    color: var(--drp-theme-label-c);
    background: var(--drp-theme-label-bg)
  }

  .picker-btn, .picker-select {
    height: 30px;
    min-width: 30px;
    margin: 2px;
    background-color: transparent;
    border: 1px solid var(--drp-theme-border-c);
    border-radius: var(--drp-theme-border-r);
  }

  select, button {
    font-family: $font-family;
    cursor: pointer;
  }

  :disabled {
    cursor: not-allowed;
  }
}

