@import "./variables.scss";

.date-range-picker {
  font-family: $font-family;
  border: 1px solid var(--drp-theme-border-c);
  border-radius: var(--drp-theme-border-r);
  user-select: none;

  & > label {
    display: block;
    margin-bottom: 1em;
    color: var(--drp-theme-label-c);
    background: var(--drp-theme-label-bg)
  }

  .picker-btn, .picker-select {
    height: 30px;
    min-width: 30px;
    margin: 2px;
    background-color: transparent;
    border: 1px solid var(--drp-theme-border-c);
    border-radius: var(--drp-theme-border-r);
  }

  select, button {
    font-family: $font-family;
    cursor: pointer;
  }

  .test {
    background-color: #ff0000;
  }

  :disabled {
    cursor: not-allowed;
  }

  &.disabled {
    opacity: .3;

    button,
    select,
    a {
        pointer-events: none;
    }

  }
}

