@import "./variables.scss";

.date-range-picker {
  font-family: $fontFamily;
  border: 1px solid $borderColor;
  border-radius: $borderRadius;
  user-select: none;

  & > label {
    display: block;
    margin-bottom: 1em;
    color: $labelColor;
    background: $labelBackground;
  }

  .picker-btn, .picker-select {
    height: 30px;
    min-width: 30px;
    margin: 2px;
    background-color: transparent;
    border: 1px solid $borderColor;
    border-radius: $borderRadius;
  }

  select, button {
    font-family: $fontFamily;
    cursor: pointer;
  }

  .test {
    background-color: #ff0000;
  }

  :disabled {
    cursor: not-allowed;
  }

  &.disabled {
    opacity: .3;

    button,
    select,
    a {
        pointer-events: none;
    }

  }
}

